<div class="container mx-auto">
    <div class="grid grid-cols-3">
        <div class="flex gap-3 shadow-xl p-2">
            <img src="assets/support.png" alt="">
            <div class="flex flex-col gap-2">
                <p class="text-xl">Free Shipping</p>
                <p class="text-gray-500">We provide free shipping all over India</p>
            </div>
        </div>
        <div class="flex gap-3 shadow-xl">
            <img src="assets/support.png" alt="">
            <div class="flex flex-col gap-2">
                <p class="text-xl">Free Shipping</p>
                <p class="text-gray-500">We provide free shipping all over India</p>
            </div>
        </div>
        <div class="flex gap-3 shadow-xl">
            <img src="assets/support.png" alt="">
            <div class="flex flex-col gap-2">
                <p class="text-xl">Free Shipping</p>
                <p class="text-gray-500">We provide free shipping all over India</p>
            </div>
        </div>
    </div>   
</div>