<div class="container mx-auto grid grid-cols-2 mt-5 mb-5">
    <div class="flex flex-col gap-2">
        <h1 class="text-4xl">Stylish Coat</h1>
        <p class="text-gray-500">We design stylish and fashionable clothes with very special offers for a different
            season.</p>
        <p class="text-orange-500">50% offer for first 10 buyers!</p>
        <div class="flex gap-5 mt-3">
            <p class="text-white bg-orange-500 p-2">ADD TO CART</p>
            <p class="text-black border border-black p-2">WISH LIST</p>
        </div>
    </div>
    <img src="assets/black coat.png" alt="">
</div>